<pre class="title big" data-language="ruby">Game#finish</pre>
<p class="description">Thanks <em><%= h @game.username %></em> for play! And don't to forget to connect with our connections :D</p>
<p> We really expect you enjoy our rails rumble participation! Thank you so much for spending your time looking to our brains :)</p>
<p>If you're a hacker, you really know we need to improve so much our challenges. Like the most part of them accepts true and the assertions are only afirmatives...</p>
<p>If you found something wrong like words or phrases that doesnt make sense (even code), we really sorry about.</p>
<%= render :partial => 'about_us' %>
