<h1>Game#finish</h1>
<p>Thanks for play! And don't to forget to connect with our connections :D</p>
<div class="about-us">
  <div class="creator">
    <%= image_tag "about-jonatas.png" %>
  </div>
</div>
<div>
  <div class="creator">
   <%= image_tag "about-eliege.png" %>
  </div>
</div>
