<pre class="title big" data-language="ruby">Game#finish</pre>
<p class="description">Thanks <em><%= h @game.username %></em> for play! And don't to forget to connect with our connections :D</p>
<p> We really expect you enjoy our weekend project it! Thank you so much for spending your time looking for our idea :)</p>
<%= render :partial => 'about_us' %>
