// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #fff;
$black: #000;
$console_height: 30px;

body {
    background-color: $black;
    color: darken($white, 9%);
    font-family: monospace;
}
.title {
  margin-left: 80px;
}
.big {
  font-size: 170%;
}
#logo {
  float: left;
  width: 10%; 
}
input#console {
  width: 50%; 
  height: $console_height;
  background-color: black;
  color: white;
  font-size: $console_height; 
  cursor-color: green;
  display: inline-block;
  text-align: -webkit-auto;
}
