// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #fff;
$black: #000;
$console_height: 30px;
$title_left: 80px;
$console_width: 50%;

body {
    background-color: $black;
    color: darken($white, 9%);
    font-family: monospace;
}
.title {
  margin-left: $title_left;
}
.big {
  margin-left: $title_left;
  font-size: 170%;
}
#logo {
  float: left;
  width: 10%;
}
input#console {
  width: $console_width; 
  height: $console_height;
  background-color: black;
  color: white;
  font-size: $console_height; 
  cursor-color: green;
  display: inline-block;
  text-align: -webkit-auto;
}
img.assistant {
  position: absolute;
  top: 20px;
  right: 0px;
}

.box {
  width: 80%;
}
.message {
  background-color: YellowGreen;
  color: black;
}
.error {
  background-color: red;
  color: white;
  background: url(/assets/error-icon.png);
}
.notice {
}


