// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #fff;
$black: #000;
$console_height: 30px;
$title_left: 10%;
$console_width: 70%;

body {
    background-color: $black;
    color: darken($white, 9%);
    font-family: monospace;
}
.title {
  margin-left: $title_left;
}
.big {
  margin-left: $title_left;
  font-size: 170%;
}
#logo {
  float: left;
  width: 10%;
}
pre, .description  {
  width: $console_width;
}
input#console {
  width: $console_width; 
  height: $console_height;
  background-color: black;
  color: white;
  font-size: $console_height - 10px; 
  cursor-color: green;
  display: inline-block;
  text-align: -webkit-auto;
}

.box {
  width: $console_width - $title_left;
  margin-left: $title_left;
}
.error {
  background-color: #ED1C25;
}
.message {
  background-color: #63BC46;
}
.center {
  text-align: center;
  padding: 15px 15px;
}
img.assistant {
  position: absolute;
  right: 0px;
}
img.assistant {
  top: 20px;
}
.about-us {
  width: 100%;
  text-align: center;
}
.jonatasdp, .eliegejachini {
  position: absolute;
  padding: 10%;
}
.jonatasdp {
  right: 50%;
}
.eliegejachini {
  left: 50%;
}
.rumble {
  position: absolute;
  padding-top: 200px;
  right: 50%;
  left: 45%;
}
